.loader {
  height: 100vh;
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 100%;
  height: 93vh;
  overflow-x: auto;
  position: relative;
}
.opa {
  display: flex;
  justify-content: space-between;
}
.search {
  max-width: 300px;
  width: 100%;
  height: 950vh;
  background: #ffffff;
  padding: 20px;
  margin-right: 100px;
  &-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      margin-right: 20px;
    }
    &__btn {
      background-color: #718fb1;
      color: white;
    }
  }
}

ul {
  padding: 20px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.amazon {
  max-width: 350px;

  width: 100%;
  height: 350px;
}
.search-shopping__card {
  max-width: 400px;
  position: relative !important;
  width: 100%;
  height: 340px;
  margin: 20px auto !important;
  border-radius: 10px !important;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4px;
    text-transform: capitalize;
    border: 1px solid #acb89a;
    max-width: 200px;
    text-align: center;
  }
  .p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    line-height: 18px;
  }
  &--content {
    display: flex;
    gap: 10px;
  }
  &--img {
    border-radius: 10px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  &--price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
  }
  &--rating {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(45, 122, 45);
    text-align: center;
  }
  .search-flex {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    position: absolute;
    bottom: 5px;
    width: 86%;
    &--content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.ant-card {
  position: relative !important;
}
