@use '../../assets/styles/variables' as *;

.sign-in {
  max-width: 500px;
  max-height: 600px;
  background: $white;
  margin: 60px auto;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: '' !important;
}
.ant-form-item {
  display: flex !important;
  flex-direction: column !important;
  justify-content: start !important;
}
.ant-form-item-label {
  text-align: left !important;
}
