.home {
  display: flex;

  gap: 20px;

  &__select {
    max-width: 250px;
    width: 100%;
    margin-bottom: 20px;
  }
  &__search {
    width: 335px;
    position: relative;
    &-fixed {
      padding: 20px;
      background: #062e54b1;
      max-width: 335px;
      width: 100%;
      color: white;
      width: 100%;
      height: 100vh;
      position: fixed;
    }
    &--box {
      &--btn {
        background: white !important;
        max-width: 250px !important;
      }
    }
  }

  &__container {
    // gap: 20px;
    padding: 50px;
    max-width: 700px;
    width: 100%;
  }
}
